@model RegisterViewModel

@{
    Layout = "_Layout";
}

<h2>Identity Server</h2>
<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label">Username</label>
        <input class="form-control" asp-for="UserName" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <!-- Confirm Password input -->
    <div class="form-outline mb-4">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        @if (ViewBag.Error != null)
        {
            <h5 style="color:red">@ViewBag.Error</h5>
        }
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
